@import url('https://fonts.googleapis.com/css2?family=Blaka+Hollow&family=Quicksand:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.cdnfonts.com/css/horizon');
@import url('https://fonts.cdnfonts.com/css/tilt-warp');
@import url('https://fonts.googleapis.com/css2?family=Blaka+Hollow&family=Playfair+Display&family=Quicksand:wght@300;400;500&display=swap');

/*  css pour la HomePage    */
btn-primary{
    text-decoration: none;
    color: #fff;
}

body {
    color: #fff;
    background-color: #bbe4e9;
    background-image: linear-gradient(to right, #82acff,#8dc6ff, #a2c9da,#eff5f5);
    -ms-overflow-style: none;  /* hide scrollbar for IE and Edge */
    scrollbar-width: none;  /* hide scrollbar for Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

.container{
    display: flex;
    justify-content: center;
}

#homepage-particles-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.homepage-container {

    z-index: 1;

}

.homepage-glass-container {

    display: block;
    max-width: 72vw;
    margin-top: 10vh;
    margin-bottom: 30px;
    background: rgba(244, 244, 244, 0.55);
    padding: 50px;
    border-radius: 16px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    width: 20000px;

}
.glass-container{
    display: block;
    max-width: 72vw;
    margin-top: 10vh;
    margin-bottom: 30px;
    background: rgba(244, 244, 244, 1);
    padding: 50px;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0,0,0,0.1);
    backdrop-filter: blur(11.6px);
    -webkit-backdrop-filter: blur(11.6px);
    width: 20000px;
}

h1, h4 {
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-family: 'Tilt Warp', sans-serif;
}

h1 {
    font-size: 70px;
}

h4 {
    font-size: 30px;
}

.box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 2em;
    margin-top: 5em;
    margin-bottom: 5em;
    font-family: 'Abril Fatface', cursive;
}

.box:first-child{
    align-items: center;
}

.btn-primary{
    text-align : center;
    margin-top: 10px;
    width: auto;
    height: 40px;
    font-size: 15px;
    color:rgb(0, 0, 0);
    background-color: transparent;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    padding: 7px 20px;
}

.btn-primary:hover{
border-color: #82acff;
background-color: #82acff;
}

h5, .btn-primary{
    justify-content: center;
    display: flex;
}

/*  css pour la navbar    */

.navbar-nav {
    margin-left: auto;
}

.box2{
    display: flex;
    flex-direction: row;
    font-family: 'Abril Fatface', cursive;
    justify-content: center;
    align-items: center;
    height: 100vh;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.card-img-top {
    width: 100%;
    height: 300px; /* Définissez la hauteur souhaitée en pixels */
    object-fit: cover;
  }

/*   css pour le création Quizz    */

#creationQuizzContainer {
    display: flex;
    justify-content: center;
}

#creationQuizzContainer2 {
    background-color: #f4f4f4;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.35);
    position: relative;
    overflow: hidden;
    width: 1000px;
    max-width: 100%;
    min-height: 500px;
    margin-top: 7%;
    margin-bottom: 7%;
}

#creationQuizzContainer2 input[type=submit] {
    background-color: #6495ED;
    color: #e6e6e6;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    text-align: center;
    justify-content: center;
    display: flex;
    width: 75%;
    transition: background-color 0.6s ease-in, color 0.6s ease-out;
}

#creationQuizzContainer2 input[type=submit]:hover{
    background-color: #256df3;
    transition: background-color 0.4s ease-out, color 0.4s ease-in;
}

#creationQuizzContainer2 form{
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100;
}
#creationQuizzContainer2 .regularInput {

    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 120%;
    outline: none;
    margin-left: 20%;
}

#creationQuizzContainer2 .propositionsInput {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 200%;
    outline: none;
}

#questionForm {

    width: 400px;
}

.form-container2{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.Finish-the-quizz{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}

#creationQuizzContainer2.active .Finish-the-quizz{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49.99%{
        opacity: 0;
        z-index: 1;
    }
    50%, 100%{
        opacity: 1;
        z-index: 5;
    }
}

.toggler-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 1000;
}

#creationQuizzContainer2.active .toggler-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    background-color: #d9f2ff;
    height: 100%;
    columns: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

#creationQuizzContainer2 .toggle{
    transform:translateX(50%);
}

.toggle-panel{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left{
    right: 0;
    transform: translateX(-200%);
}

#creationQuizzContainer2 .toggle-left{
    transform: translateX(0);
}

.classe-titre{
    color: rgb(0, 0, 0);
    font-size: 32px;
}

#creationQuizzContainer2 span {
    color: rgb(0, 0, 0);
    margin-right: auto;
}

.classe-titre4{
    margin-bottom: 20%;
}

/* LOGIN PAGE CSS */

.container-delete,
.container-register,
.container-login {
    display: flex;
    justify-content: center;
    height: 100%;
    margin: 0;
    padding-top: 100px;
}

.left-container {
    background: linear-gradient(90deg, #cdffd8, #94b9ff);
    padding: 65px 10px;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.left-container img {
    width: 25%;
    height: auto;
    max-width: 100%;
}

.container-delete .right-container,
.container-login .right-container,
.container-register .right-container {
    background-color: #d9d9d9;
    padding: 20px;
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.center-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right-container h1 {
    font-family: 'Tilt Warp', sans-serif;
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 1.5vw;
    opacity: 67%;
}

.right-container p {
    font-family: 'Tilt Warp', sans-serif;
    color: black;
    width: 100%;
    margin: 0;
    font-size: small;
    text-align: center;
}

.right-container a {
    color: #1776b6 !important;
}

.left-container h1 {
    font-family: 'Tilt Warp', sans-serif;
    padding-top: 15px;
    font-size: 3vw;
}

.form-group {
    margin-bottom: 7.5px;
    display: flex;
    flex-direction: column;
    align-items: start;
}

.form-group #submitBtn {
    width: 80%;
    height: 40px;
    border-radius: 50px;
    border: none;
    background: linear-gradient(90deg, #cdffd8, #94b9ff);
    color: rgb(59, 56, 56);
    font-family: 'Abril Fatface';
    font-size: 15px;
    font-style: normal;
    font-variant: normal;
    font-weight: 700;
    line-height: 18px;
    margin: 30px 0px;
    align-self: center;
}

.container-delete .form-group #submitBtn {
    width: 150%;
}

.form-group #submitBtn:hover {
    box-shadow: 0px 0px 20px rgb(248, 239, 239);
}

.form-group input[type="text"],
.form-group input[type="email"],
.form-group input[type="password"] {
    align-self: center;
    background-color: #C8C8C8;
    border: none;
    border-bottom: 1.5px solid black;
    width: 100%;
    height: 25px;
}

.form-group label {
    color: black;
    font-size: 15px;
}

.center-content a {
    color: black;
    font-size: 15px;
}

.center-content a:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 768px) {
    .left-container,
    .container-delete .right-container,
    .container-login .right-container,
    .container-register .right-container {
        width: 90%;
    }

    .left-container h1 {
        font-size: 5vw;
    }

    .right-container h1 {
        font-size: 3vw;
    }

    .form-group #submitBtn {
        height: 38px;
        font-size: 3vw;
        line-height: 5vw;
    }
}

.error-message {
    visibility: hidden;
    align-items: center;
    color: red;
    border: 1px solid red; 
  }
  
  
.error-message:not(:empty) {
visibility: visible;
}



/* CLASSEMENT PAGE */

.container-classement {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.sous-classement-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    background-color: white;
    padding: 30px;
    border-radius: 30px;
}

.classement-header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #82acff;
    border-radius: 30px 30px;
    padding: 10px 70px;
}

.classement-header img {
    width: 100px;
    height: 100px;
}

.classement-header h1 {
    font-size: 29px;
    color: white;
    padding-left: 20px;
}

.classement-body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 100%;
    overflow-x: auto; /* Ajout pour gérer le défilement horizontal si nécessaire */
}

.table {
    width: 100%;
    padding: 20px;
    
}

.header-row, .data-row {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.rankClassement, .usernameClassement, .scoreClassement {
    flex: 1;
    text-align: center;
    background-color: #d9f2ff;
} 

.medal-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.medal {
    text-align: center;
    padding: 15px; /* Ajout du padding pour l'espace entre les médailles */
    border-radius: 30px 30px;
    background-color: white;
}

.medal:nth-child(3){
    box-shadow: 0px 0px 20px 5px  rgba(245, 152, 39, 1);
    margin-top: 50px;
}

.medal:nth-child(2){
    box-shadow: 0px 0px 20px 5px  rgba(245, 229, 39, 1);
    margin-bottom: 50px;
}

.medal:nth-child(1){
    box-shadow: 0px 0px 20px 8px  rgba(187, 187, 187, 1);
    margin-top: 50px;
}

.medal img {
    width: 100px;
    height: 130px;
}
/*  css pour la page avec les questions  */

.counterQuestionsWrapper,
.countRightAnswersWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ajout de cette propriété */
}

.div-counter-questions-pageQuestion,
.div-count-right-answers-pageQuestion {
    height: 40px;
    background-color: #fff;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    text-align: center;
    color: #2d2f31;
    font-family: 'Tilt Warp', sans-serif;
    padding: 10px;
}

.div-counter-questions-pageQuestion {
    margin-left: auto;
}

.div-count-right-answers-pageQuestion {
    margin-right: auto;
}

.glass-container-pageQuestion {
    max-width: 60vw;
    margin: auto;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(11.6px);
    background-image: url('../img/histoire.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-bottom: 15px;
}

.card-img-top-pageQuestion{
    display: flex;
    justify-content: center;
    margin: auto;
    width: 30%;
}

.proposition-element {
    display: flex;
    color:#2d2f31;
    margin: auto;
    text-align : center;
    margin-top: 15px;
    width: 50%;
    height: 40px;
    background-color: #FAF9F6;
    border-radius: 10px;
    justify-content: center;
    font-size: 16px;
    font-family: 'Tilt Warp', sans-serif;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border: 1px solid #ccc;
    padding: 5px 20px;
    box-sizing: border-box;
}

.card-title-pageQuestion {
    color: #2d2f31;
    font-size: 24px;
    font-family: 'Tilt Warp', sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1.5px);
    background-color: #FAF9F6;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
}

.card-title-question {
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 5px;
    font-family: 'Tilt Warp';
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1%;
    color: #333;
    background-color: #FAF9F6;
}

.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ajout de cette propriété */
    margin-bottom: 10px;
}

.QuizzPage-default-style-button {
    width: 25%;
    height: 50px;
    margin-top: 3%;
    margin-left: 37.5%;
    position: relative;
    background: #111;
    color: white;
    border-radius: 10px;
    border:none;
    outline: none;
    font-size: 16px;
    font-weight: bold;
}

.QuizzPage-default-style-button:hover {
    cursor:not-allowed;
}

.QuizzPage-set-style-button {
    width: 25%;
    height: 50px;
    margin-top: 3%;
    margin-left: 37.5%;
    outline: none;
    color: white;
    background-color: transparent;
    position: relative;
    border-radius: 10px;
    border:none;
    font-size: 16px;
    font-weight: bold;
}

/*
* 
* source for button style https://www.sliderrevolution.com/resources/css-button-hover-effects/
* no author
*
*
*/

.QuizzPage-set-style-button:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.QuizzPage-set-style-button:active {
    color: #000
}

.QuizzPage-set-style-button:active:after {
    background: transparent;
}

.QuizzPage-set-style-button:hover:before {
    opacity: 1;
}

.QuizzPage-set-style-button:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
}

/* CSS PAGE VIEWQUIZZES */

.card-text-viewQuizz{
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: serif;
    font-size: 150%;
}

.card-body-viewQuizz{
    padding: 10px;
    background-color: #f4f4f4;
}

.viewQuizzes-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4em 2em;
    margin: 3em 1.5em;
    padding: 0px 75px;
}

.viewQuizzes-box:first-child {
    align-items: center;
}

.viewQuizzes-title-h1, .viewQuizzes-title-h2 {
    display:flex;
    padding-top: 0.5em;
    color:rgb(0, 0, 0);
    font-family:'Tilt Warp', sans-serif;
}

.viewQuizzes-title-h2 {
    justify-content: center;
    font-size: 3em;
}

.viewQuizzes-title-orange,
.viewQuizzes-title-red,
.viewQuizzes-title-green {
    text-align: center;
}

.viewQuizzes-title-orange{
    color: orange;
}

.viewQuizzes-title-red{
    color: red;
}

.viewQuizzes-title-green{
    color: green;
}



/*  page pour la page de confidentialité   */

#inner_content-7-239{
    display: block;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
}

/* Style pour chaque colonne */
.wp-block-column {
    width: 100%; /* Ajustez la largeur des colonnes selon vos besoins */
    box-sizing: border-box;
    padding: 0 15px; /* Espacement interne des colonnes */
}

/* Style pour les listes ordonnées à l'intérieur de chaque colonne */
.wp-block-column ol {
    margin: 0; /* Supprime la marge par défaut des listes ordonnées */
    padding-left: 10px; /* Ajoute un espacement à gauche pour les éléments de la liste */
}

/* Style pour chaque élément de la liste ordonnée */
.wp-block-column ol li {
    list-style-type: none; /* Supprime les puces de la liste ordonnée */
    margin-bottom: 5px; /* Espacement entre chaque élément de la liste */
}

/* css pour la page du result quizz */

#resultQuizz-fireworks {
    position: absolute;
    z-index : -1; 
    width : 100%;
    height : 100%;
}

#resultQuizz-glass-container{
    display: block;
    max-width: 72vw;
    margin-top: 10vh;
    margin-bottom: 30px;
    background: rgba(244, 244, 244, 0.55);
    padding: 70px;
    border-radius: 16px;
    width: 20000px;
}

/* about us */

.card-body-AboutUs{
    flex: 1 1 auto;
    padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
    color: var(--bs-card-color);
}

dialog::backdrop{
    backdrop-filter: blur(10px); /* Effet de flou sur le backdrop */
}

dialog form {
    font-weight: 700;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-left: 25px;
    font-family: 'Playfair Display', sans-serif;
    letter-spacing: 1px;
    padding: 2% 0 2% 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

dialog::-webkit-scrollbar {
    display: none;
}

dialog{
    border-radius: 16px;
    width: 55%;
    height: 45%;
    border: none;
    background-color:#fff;
}

.AboutUsPage-description-button {
    color:white;
    font-family:sans-serif;
}

.AboutUsPage-description-button:hover {
    color:white;
}